.header {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: 1.25rem 1rem;

    .header__logo {
        width: 36vw;
        max-width: 14.125rem;
    }

    .header__icon {
        cursor: pointer;
    }

    .header__list {
        display: none;
        list-style: none;
        gap: 0.625rem;
    }

    .header__link {
        font-weight: 500;
        text-decoration: none;
        color: #000;
        padding: 0.25rem;
        transition: color 0.2s;

        &:hover {
            color: #666;
        }
    }
}

@media (min-width: 48rem) {
    .header {
        justify-content: space-between;

        .header__icon {
            display: none;
        }

        .header__list {
            display: flex;
            gap: 1rem;
        }

        .header__link {
            font-size: 1.25rem;
            transition: color 0.2s;
        }
    }
}
