.header {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: 1.25rem 1rem;
    position: relative;

    .header__logo {
        width: 36vw;
        max-width: 14.125rem;
    }

    .header__icon {
        border: none;
        background-color: #fff;
        cursor: pointer;
    }

    .header__nav {
        display: none;
    }

    .header__list {
        list-style: none;
    }

    .header__menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        border-top: 1px solid rgba(0, 0, 0, 0.25);
        padding: 1rem 0.5rem;

        .header__list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.625rem;
        }
    }

    .header__menu.open {
        max-height: 18rem;
        opacity: 1;
    }

    .header__link {
        font-weight: 500;
        text-decoration: none;
        color: #000;
        padding: 0.25rem;
        transition: color 0.2s;

        &:hover {
            color: #666;
        }
    }
}

@media (min-width: 48rem) {
    .header {
        justify-content: space-between;

        .header__icon {
            display: none;
        }

        .header__nav {
            display: block;
        }

        .header__list {
            display: flex;
            gap: 1rem;
        }

        .header__menu {
            display: none;
        }

        .header__link {
            font-size: 1.25rem;
            transition: color 0.2s;
        }
    }
}
