.lancamentos {
    .lancamentos__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 80rem;
        padding: 0 1.125rem;
        margin: 0 auto;
        color: rgba(45, 45, 45, 1);
    }

    .lancamentos__left {
        display: none;

        .lancamentos__left-image {
            width: 8.125rem;
            height: 8.125rem;
        }
    }

    .lancamentos__center {
        margin-bottom: 1.5rem;

        .lancamentos__center-image {
            width: 9.75rem;
            height: 9.75rem;
        }
    }

    .lancamentos__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 30rem;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        padding: 0 1rem;

        .lancamentos__header {
            text-align: center;

            .lancamentos__subtitle {
                font-size: 1rem;
                font-weight: 600;
            }
        }

        .lancamentos__opcoes {
            margin: 1rem 0;

            span {
                display: block;
                text-align: center;
                font-size: 0.625rem;
            }

            .lancamentos__cores {
                display: flex;
                gap: 1rem;
                margin-top: 0.625rem;

                .lancamentos__circle {
                    // width: 3.75rem;
                    // height: 3.75rem;
                    width: 2.25rem;
                    height: 2.25rem;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    transition: all 0.2s;

                    &:hover {
                        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
                    }
                }

                .azul {
                    background-color: rgba(177, 176, 216, 1);
                }

                .vermelho {
                    background-color: rgba(225, 52, 42, 1);
                }

                .marrom {
                    background-color: rgba(115, 40, 45, 1);
                }

                .base {
                    background-color: rgba(222, 117, 94, 1);
                }
            }
        }

        .lancamentos__description {
            .lancamentos__description-title {
                font-size: 0.875rem;
                font-weight: 500;
                text-align: center;
                margin-bottom: 0.625rem;
            }

            .lancamentos__description-text {
                font-size: 0.75rem;
                padding-bottom: 1rem;
            }
        }
    }
}

@media (min-width: 48rem) {
    .lancamentos {
        .lancamentos__center {
            .lancamentos__center-image {
                width: 13rem;
                height: 13rem;
            }
        }

        .lancamentos__right {
            padding: 0 1.5rem;
            .lancamentos__header {
                .lancamentos__subtitle {
                    font-size: 1.5rem;
                }
            }

            .lancamentos__opcoes {
                .lancamentos__cores {
                    .lancamentos__circle {
                        width: 2.75rem;
                        height: 2.75rem;
                    }
                }
            }

            .lancamentos__description {
                .lancamentos__description-title {
                    font-size: 1.25rem;
                }

                .lancamentos__description-text {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

@media (min-width: 64rem) {
    .lancamentos {
        .lancamentos__container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            gap: 1rem;
        }

        .lancamentos__left {
            display: flex;
            flex-direction: column;
            gap: 0.625rem;
        }

        .lancamentos__center {
            margin: 0 1rem 0 0;
            .lancamentos__center-image {
                width: 100%;
                max-width: 25.625rem;
                height: 25.625rem;
            }
        }

        .lancamentos__right {
            align-items: flex-start;
            gap: 1rem;
            height: 25.625rem;
            padding: 1.5rem;

            .lancamentos__header {
                text-align: start;
                .lancamentos__subtitle {
                    font-size: 1.5rem;
                }
            }

            .lancamentos__opcoes {
                margin: 0;
                span {
                    text-align: start;
                }

                .lancamentos__cores {
                    .lancamentos__circle {
                        width: 3.75rem;
                        height: 3.75rem;
                    }
                }
            }

            .lancamentos__description {
                .lancamentos__description-title {
                    font-size: 1.25rem;
                    text-align: start;
                }

                .lancamentos__description-text {
                    font-size: 1rem;
                }
            }
        }
    }
}
