* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    // font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    color: rgba(45, 45, 45, 1);
}

@media (min-width: 48rem) {
    .title {
        font-size: 1.875rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 80rem) {
    .title {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}
