* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    // font-family: "Poppins", sans-serif;
}
