.looks {
    padding: 1.125rem;

    .looks__title {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        margin: 1.5rem 0;
        color: rgba(45, 45, 45, 1);
    }

    .looks__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 20rem));
        gap: 1rem;
        justify-content: center;

        .looks__card {
            overflow: hidden;
        }

        .looks__image {
            width: 100%;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}

@media (min-width: 48rem) {
    .looks {
        .looks__title {
            font-size: 1.875rem;
            margin: 1.875rem 0;
        }

        .looks__cards {
            grid-template-columns: repeat(4, minmax(0, 20rem));
        }
    }
}

@media (min-width: 80rem) {
    .looks {
        .looks__title {
            font-size: 2.5rem;
            margin: 2rem 0;
        }

        .looks__cards {
            gap: 1.5rem;
        }
    }
}
