.looks {
    padding: 0 1.125rem;

    .looks__cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 20rem));
        gap: 1rem;
        align-items: center;
        justify-content: center;

        .looks__card {
            overflow: hidden;
            height: 100%;
            max-height: 31.25rem;
        }

        .looks__image {
            width: 100%;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media (min-width: 48rem) {
    .looks {
        .looks__cards {
            grid-template-columns: repeat(4, minmax(0, 20rem));
        }
    }
}

@media (min-width: 80rem) {
    .looks {
        .looks__cards {
            gap: 1.5rem;
        }
    }
}
